<% layout('/layouts/boilerplate') %>

<h2 class="package-title">Registrar paquete</h2>

<form class="add-form" action="/package/add" method="POST">
    <label for="name">Nombre</label>
    <input type="text" name="name" id="name">
    <label for="origen">Tienda de Origen</label>
    <input type="text" name="origen" id="origen">
    <label for="IB">IB</label>
    <input type="text" name="IB" id="IB">
    <label for="tracking">Número de Tracking</label>
    <input type="text" name="tracking" id="tracking">
    <label for="weight">Peso</label>
    <input type="text" name="weight" id="weight">
    <label for="status">Estado:</label>
    <select id="status" name="status">
        <option value="Bodega Miami" selected>Bodega Miami</option>
        <option value="Bodega Panamá">Bodega Panamá</option>
    </select>
    <button type="submit" class="normal-btn">Registrar</button>
</form>
