<% if(error){ %> 
    <div class="ctn-flash-error">
        <span class="message"> <%= error %> </span>
    </div>
<% } %> 


<% if(success){ %> 
    <div class="ctn-flash-success">
        <span class="message"> <%= success %> </span>
    </div>
<% } %> 