<nav class="navbar">
    <div class="navigation">
        <ul class="navbutton">
          <% if(!currentUser || currentUser.type == "customer" ) { %>
            <li><a href="/">HOME</a></li>
            <li><a href="/package/packages">MIS PAQUETES</a></li>
            <li><a href="/quotation">COTIZACIÓN</a></li>
            <li><a href="/FAQ">FAQ</a></li>
          <% } else { %> 
            <li><a href="/">HOME</a></li>
            <li><a href="/package/add">REGISTRAR PAQUETE</a></li>
            <li><a href="/package/update">BUSCAR PAQUETE</a></li>
            <li><a href="/customer">BUSCAR CLIENTE</a></li>
            <li><a href="/quotation">COTIZACIONES</a></li>
          <% } %> 
          </ul>

          <ul class="userButtons">
            <% if(!currentUser) { %>
            <li><a href="/login">INICIAR SESIÓN</a></li>
            <li><a href="/register">CREAR CUENTA</a></li>
            <% } else { %> 
              <li><%= currentUser.username %></li>
              <li><a href="/logout">LOGOUT</a></li>
            <% }  %> 
            
          </ul>
    </div>
</nav>