<% layout('/layouts/boilerplate') %>

<main class="main">
    <h2 class="main-message">Bienvenido a ExpressBox, tu paquetería de confianza</h2>
    <h2 class="main-message">De USA a Panamá en menos de 3 días</h2>
    <div class="image-container">
        <img src="../public/res/Cat_delirvery.gif" alt="">
    </div>

    <div class="btn-cont">
        <a href="/register" class="main-screen-btn">Crear cuenta</a>
        <a href="/login" class="main-screen-btn">Iniciar Sesión</a>
    </div>
</main>