<% layout('/layouts/boilerplate') %>

<div class="container-register">
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password">
        <button type="submit">Entrar</button>
    </form>
</div>