<% layout('/layouts/boilerplate') %>

<h2 class="package-title">FAQ</h2>
<div class="faq-cont">
    <ul>
        <li><b>¿Cuanto cuesta traer un paquete de USA a Panamá?</b></li>
        <span>El precio se calcula por libra, cada libra vale 2.50. Si desea saber con exactitud puede solicitar una 
            cotización en la sección "Cotización"
        </span>
        <li><b>Pregunta #2</b></li>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus assumenda quae nam impedit commodi aliquam. Culpa cum assumenda reprehenderit et minima maxime sint, incidunt magnam dicta non laudantium? Accusantium, minus?
        </span>
        <li><b>Pregunta #3</b></li>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam, ipsam maxime consectetur possimus blanditiis suscipit alias rem sequi accusamus distinctio odio quam veritatis doloremque commodi laboriosam temporibus, molestiae fuga.
        </span>
        <li><b>Pregunta #4</b></li>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis debitis nulla perspiciatis consectetur modi necessitatibus cum, sit magnam iste quos illo ratione quod mollitia adipisci distinctio excepturi officia ullam voluptatum!
        </span>
        <li><b>Pregunta #5</b></li>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quisquam, voluptatum dolor deserunt corrupti harum deleniti laborum ut consectetur aspernatur ducimus nesciunt nemo tenetur fuga enim numquam fugiat reiciendis dolorum?
        </span>
        <li><b>Pregunta #5</b></li>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error quas, labore beatae iste expedita pariatur cupiditate itaque, culpa commodi aspernatur nihil aliquam dolor dolores. Ea dignissimos obcaecati sequi mollitia libero?
        </span>

    </ul>
</div>