<% layout('/layouts/boilerplate') %>

<div class="container-packages">
    <% for (package of packages) { %> 
        <div class="item-package">
            <span>Nombre: <%= package.name %>  </span>
            <span>Tienda Origen: <%= package.origen %>  </span>
            <span>Tracking: <%= package.trackingN %>  </span>
            <span>Status: <%= package.status %> </span>
        </div>
    <% } %> 
</div>

